<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Connexion</title>
</head>
<body>
    <h1>Connexion</h1>

    <!-- Formulaire pour la création de compte -->
    <h2>Créer un compte</h2>
    <form action="/create_account" method="post">
        <label for="create-username">Nom d'utilisateur</label>
        <input type="text" id="create-username" name="username" required>
        <br>
        <label for="create-password">Mot de passe</label>
        <input type="password" id="create-password" name="password" required>
        <br>
        <button type="submit">Créer un compte</button>
    </form>
</body>
</html>