<!DOCTYPE html>
<html>
<head>
    <title>Liste des Ingrédients</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE.edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="background-container">
        <img src="{{ url_for('static', filename='Ingredible_menu.png') }}" alt="Image alternative text">
    </div>
    <div class="content">
        <h1>Liste des Ingrédients</h1>
        <div class="column">
            <ul>
                {% for ingredient in ingredients %}
                    <li class="cadre">{{ ingredient.name }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>  
    <a href="{{ url_for('menu') }}" class="return-button">🔙</a>
</body>
</html>
